@model CommonLayer.Model.ApModel

@{
    ViewData["Title"] = "APDetailsByID";
}

@*<h1>APDetailsByID</h1>*@
<h5 class="header">Appointment Details</h5>
<div>
@*    <h4>ApModel</h4>
    <hr />*@
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ap_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ap_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ap_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ap_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "APEdit", new { Patient_id = Model.Patient_id }) |
  @*  <a asp-action="Index">Back to List</a>*@
</div>
